* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #333;
  color: white;
}

.list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.list a {
  color: white;
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
}

/* HERO */
.display {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#f1f1f1, #9aa7d8);
  text-align: center;
}

.shop-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #aa570a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* PRODUCTS */
#products {
  padding: 20px;
}

.Featured,
.Featured1 {
  text-align: center;
  margin: 20px 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.product-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.price {
  margin: 10px 0;
  font-weight: bold;
}

.add {
  padding: 8px 15px;
  background: #aa570a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* color: none; */
}

/* LOGIN */
.login-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background: #f5f5f5;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
}

.login input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 15px 20px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

/* MENU */
.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

/* MENU ICON */
.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* MOBILE VIEW */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 15px;
  }

  .menu.show {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
.navbar{
    display: none;
}

/* media quries */

@media (max-width:480px ){
    .list{
        display: none   ;
    }
    .navbar{
        display: block;
    }
}